/* sidebar */
.page-wrapper-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 240px;
  background-color: #23282d;
  color: #fff;
  overflow-y: scroll;
}
.page-wrapper-content {
  margin-left: 240px;
}
.sidebar-menu {
  padding-left: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  list-style: none;
}
.sidebar-menu li {
  list-style: none;
}
.sidebar-menu li.separator {
  background-color: #545454;
  opacity: 0.3;
  height: 2px;
  margin-bottom: 3px;
  margin-top: 2px;
}
.sidebar-menu a:hover {
  color: #00b9eb;
  text-decoration: none;
}
.sidebar-menu > li > span {
  display: block;
}
.sidebar-menu > li > span a {
  display: block;
  color: #eee;
  padding: 8px 0 8px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.sidebar-menu > li > span i + a {
  padding-left: 38px;
}
.sidebar-submenu {
  background-color: #32373c;
  margin-left: 0;
  padding: 7px 0 7px 11px;
}
.sidebar-submenu  a {
  display: block;
  padding: 3px 0;
  color: rgba(240,245,250,0.7);
  display: block;
  line-height: 17px;
  font-size: 13px;
}
.sidebar-menu > li > span {
  position: relative;
}
.sidebar-menu > li > span i {
  display: block;
  position: absolute;
  top: 8px;
  left: 10px;
  opacity: 0.6;
  font-size: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
}
